.button
  position: relative
  &::before
    content: attr(node-content)
    height: 6px
    width: 6px
    background-color: #98FFA8
    display: grid
    position: absolute
    align-content: center
    justify-content: center
    text-align: center
    margin-left: -3px
    margin-top: -3px
    color: #98FFA8
    -moz-box-shadow: rgba(0,0,0,0.25) 0px 4px 10px
    -webkit-box-shadow: rgba(0,0,0,0.25) 0px 4px 10px
    box-shadow: rgba(0,0,0,0.25) 0px 4px 10px
    font-size: 18px
    transform: rotate(45deg)
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)
    overflow: visible
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4)
    &::before
      -webkit-clip-path: polygon(0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%)
      clip-path: polygon(0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%)
  &:nth-child(17)
    &::before
      -webkit-clip-path: polygon(20% 0%, 0 20%, 30% 50%, 0% 80%, 20% 100%, 100% 20%, 80% 0%, 50% 30%)
      clip-path: polygon(20% 0%, 0 20%, 30% 50%, 0% 80%, 20% 100%, 100% 20%, 80% 0%, 50% 30%)

  &:nth-child(1),
  &:nth-child(5),
  &:nth-child(9),
  &:nth-child(13),
  &:nth-child(17)
    &::before
      margin-left: 57px

  &.active
    z-index: 1
    animation: button-pop-bg .75s ease both

    &::before
      animation: button-pop .75s ease both
      height: 30px
      width: 30px
      margin-left: -15px
      margin-top: -15px
      -webkit-clip-path: none
      clip-path: none
      opacity: 1
    
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13),
    &:nth-child(17)
      &::before
        margin-left: 44px
      
@keyframes button-pop 
  0% 
    transform: scale(0) rotate(45deg)
  20% 
    transform: scale(.5) rotate(45deg)
  40% 
    transform: scale(0) rotate(45deg)
    color: #98FFA8
  44% 
    transform: scale(0) rotate(45deg)
    color: #004cee
  50% 
    transform: scale(1) rotate(10deg)
  55% 
    transform: scale(1) rotate(0deg)
  90% 
    transform: scale(1) rotate(0deg)
  100% 
    transform: scale(0) rotate(0deg)
    color: #004cee

@keyframes button-pop-bg
  0%
    background-color: none
  50%
    background-color: rgba(36, 170, 252, 0.15)
  100%
    background-color: none


.button.active::after
  display: block
  content: ''
  width: 3px
  height: 3px
  top: -1px
  left: 0
  position: absolute
  background-color: #98FFA8
  z-index: -1
  animation: border-flow 0.75s ease infinite

@keyframes border-flow
  0%
    // opacity: 1
    transform: translateX(0)
  25%
    opacity: 1
    transform: translateX(60px)
  50%
    opacity: 1
    transform: translateY(60px) translateX(60px)
  75%
    opacity: 1
    transform: translateX(0px) translateY(60px)
  100%
    opacity: 0
    transform: translateY(0)
    