<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/styles.css")
    title Shunting Yard Postfix Calculator
  body
    .calculator
      //- #calculator__top.calculator__top
      //-   #inputDisplay.input-display 2018.3
      #calculator__display.calculator__display(node-content='0') 0
      #calculator__bottom.calculator__bottom
        .button(node-content='AC') AC
          
        .button(node-content='+/-') +/-
          
        .button(node-content='%') %
          
        .button(node-content='÷') ÷
          
        .button(node-content='7') 7
          
        .button(node-content='8') 8
          
        .button(node-content='9') 9
          
        .button(node-content='×') ×
          
        .button(node-content='4') 4
          
        .button(node-content='5') 5

        .button(node-content='6') 6
          
        .button(node-content='-') -
          
        .button(node-content='1') 1
          
        .button(node-content='2') 2
          
        .button(node-content='3') 3
          
        .button(node-content='+') +
          
        .button(node-content='0') 0
          
        .button(node-content='.') .
          
        .button(node-content='=') =
          
    script(src="script.js")
    //- script(src="animations.js")
        
        
        