<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/styles.css")
    title Shunting Yard Postfix Calculator
  body
    .calculator
      #calculator__top.calculator__top
        #historyDisplay.history-display
        #inputDisplay.input-display 2018.3
      #calculator__bottom.calculator__bottom
        .button
          span.button-pop AC
          span.button-text AC
          
        .button
          span.button-pop +/-
          span.button-text +/-
          
        .button
          span.button-pop %
          span.button-text %
          
        .button
          span.button-pop รท
          span.button-text รท
          
        .button
          span.button-pop 7
          span.button-text 7
          
        .button
          span.button-pop 8
          span.button-text 8
          
        .button
          span.button-pop 9
          span.button-text 9
          
        .button
          span.button-pop &#215;
          span.button-text &#215;
          
        .button
          span.button-pop 4
          span.button-text 4
          
        .button
          span.button-pop 5
          span.button-text 5

        .button
          span.button-pop 6
          span.button-text 6
          
        .button
          span.button-pop -
          span.button-text -
          
        .button
          span.button-pop 1
          span.button-text 1
          
        .button
          span.button-pop 2
          span.button-text 2
          
        .button
          span.button-pop 3
          span.button-text 3
          
        .button
          span.button-pop +
          span.button-text +
          
        .button
          span.button-pop 0
          span.button-text 0
          
        .button
          span.button-pop .
          span.button-text .
          
        .button
          span.button-pop =
          span.button-text =
          
    script(src="animations.js")
        
        
        